@media (max-width: 1800px) {
body{
    overflow: hidden;
    background-color: black;
}

#header {
    position: absolute;
    width: 100vw;
    height: 12vh;
    background-color: rgb(0, 0, 0);
    color: white;
    top: 0;
    left: 0;
}

#logo {
    position: absolute;
    margin-left: 0.4vw;
    margin-top: 0.3vw;
    width: 7vw;
    
}

#title {
    position: absolute;
    margin-left: 6.2vw;
    margin-top: 2.3vw;
    font-size: 1.7vw;
    font-family: sans-serif;
}

#wallet {
    position: absolute;
    color: white;
    background: linear-gradient(112deg, rgb(13 44 101), rgb(0, 41, 191), rgb(46 128 255), rgb(0, 41, 191), rgb(10 2 95), rgba(2, 0, 24, 0.541));
    left: 87vw;
    top: 2vw;
    border-style: none;
    border-radius: 0.5vw;
    height: 3vw;
    width: 13vw;
    text-align: left;
    padding-left: 1vw;
    font-family: sans-serif;
    font-size: 1.4vw;
    text-shadow: 0vw 0vw 1vw rgb(0 0 0);

} #wallet:hover{text-shadow: 0vw 0vw 1vw rgb(255, 255, 255); cursor: pointer; transition: ease-in, 0.8s; letter-spacing: 1px; opacity:0.9; width: 13.5vw;}

#msg1 {
    position: absolute;
    display: flex;
    color: rgb(255 255 255 / 90%);
    font-family: sans-serif;
    font-size: 1.4vw;
    background: linear-gradient(346deg, #00007940, #0d0d5bbd, #0e0a93a3, #5d6afeb3, #000079, #0a025dd6);
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 1vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30vw;
    height: 10vw;
    text-shadow: 0vw 0vw 1vw rgb(0, 0, 0);
    letter-spacing: 2px;
    box-shadow: 0vw 0vw 1vw rgba(0, 0, 83, 0.731);
}

#msg2 {
    position: absolute;
    display: none;
    color: rgba(255, 255, 255, 0.902);
    font-family: sans-serif;
    font-size: 1.7vw;
    background-color: #00000000;
    text-align: center;
    justify-content: center;
    border-radius: 1vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30vw;
    height: 15vw;
    text-shadow: 0.1vw 0.1vw 0.3vw rgb(0 0 0);
    letter-spacing: 2px;
    box-shadow: inset 0vw 0vw 1vw 0px rgb(205 207 255 / 44%);
    padding: 1vw;
    padding-top: 2vw;
    padding-bottom: 3vw;

}

#toForm {
    position: absolute;
    color: white;
    background: linear-gradient(136deg, black, #304061, black);
    left: 50%;
    top: 75%;
    transform: translateX(-50%);
    border-style: none;
    border-color: white;
    border-radius: 0.5vw;
    height: 3vw;
    width: 20vw;
    text-align: center;
    font-family: sans-serif;
    font-size: 1.4vw;
    text-shadow: -0.1vw 0.1vw 0.1vw rgb(0 0 0);

} #toForm:hover{ cursor: pointer; transition: ease-in, 0.4s; letter-spacing: 1px; opacity:0.9; width: 20.5vw; background: linear-gradient(136deg, black, #546ea1, black);}




}
